.main-nav {
  border-bottom: 1px solid var(--white);
}

.main-nav > div {
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 20px;
  justify-content: space-between;
  position: relative;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li:not(:last-child) {
  margin-right: 2rem;
}

.main-nav li a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: 150ms ease-in;
}
.main-nav li a:hover {
  color: var(--link-blue);
}

.logo {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.25px;
}

.main-nav .internal-links {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0.75rem;
  width: 250px;
  display: flex;
  justify-content: center;
  background-color: var(--white-transparent);
  border: 1px solid var(--white);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

@media (min-width: 720px) {
  .main-nav li:not(:last-child) {
    margin-right: 2rem;
  }
}
