.about-info {
  display: grid;
  grid-template-columns: 1fr;
  border: 1.5px solid var(--white);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 0;
}

.about-info h2 {
  text-align: left;
  font-size: 2rem;
}

.about-currently {
  background-color: var(--white-transparent);
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: 1.5px solid var(--white);
  width: 100%;
}

.about-currently li {
  list-style: none;
  margin-block: 1rem;
}

.bold-title {
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.education h3 {
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: 0;
  margin-top: 2rem;
}

.work-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 720px) {
  .about-info {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2.5rem;
  }

  .about-currently {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .about-currently {
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
  }
}
