:root {
  --background: #ece1de;
  --white-transparent: #ffffff25;
  --white: #ffffff;
  --text-primary: #2f324e;
  --text-secondary: #40414e;
  --link-blue: #2d40e8;

  font-family: "Outfit", system-ui, sans-serif;
  color: var(--text-primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background: #1a2632;
  --text-primary: #ffffff;
  --text-secondary: #fffafa;
}
